body{
	margin-bottom:0px;
	background: grey;
}

h1{
	font-family: "Broadway";
	color: #670301;
	font-size: 4.5vw;
	text-align: center;
}

video{
	z-index: 2;
	width:22%;
	position: absolute;
	margin-left: 36.2%;
	margin-top: 11.5%;
}

.text{
	z-index: 4;
	position: absolute;
	margin-left: 4%;
}
.ramka{
	display: flex;
	flex-direction: column;
	margin-left: 30%;
	margin-top: 1%;
	pointer-events: none;

}


.back{
	width:40%;
	padding-top:0px;
	margin-top: -6%;
	margin-left: 30%;
	position: absolute;
	z-index: 1;

}
.table{
	width:30%;
	position: absolute;
	padding-top: 15%;
	margin-left: 5%;
	margin-top: 10%;
	z-index: 2;
}

.tv{
	width: 30%;
	position: absolute;
	margin-left: 5%;
	z-index: 3;
	margin-top: 10%;
	pointer-events: none;

}